<!doctype html>
<html lang="en">
  <head>
    <%-partial('./blocks/bootstrap_header.ejs')%>
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/session.css">
  </head>
  <body>

    <%-partial('./blocks/navbar.ejs')%>

    <div class="row">
        <div id="main-video" class="col-9">
        </div>

        <div id="chat" class="col-3">
            <div class="form-group">
                <input id="message-field" class="form-controll" type="text" name="message" required="true" placeholder="Everyone can see your message">
                <button id="send" type="button" name="send-message" class="btn btn-secondary float-right">Send</button>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $( "#navbar-menu-container" ).append( '<button class="dropdown-item" id="getID">get id</button>' );
        $( "#navbar-menu-container" ).append( '<button class="dropdown-item" id="leaveSession" type="button">leave session</button>' );

        var sessionID = <%- JSON.stringify(sessionID) %>;
        var token     = <%- JSON.stringify(token) %>;
        var user      = <%- JSON.stringify(user) %>;
        var role      = <%- JSON.stringify(role) %>;
    </script>

    <%-partial('./blocks/bootstrap_js.ejs')%>

    <script src="js/openvidu-browser-1.8.0.js"></script>
    <script type="text/javascript" src="js/ajax.js"></script>
    <script type="text/javascript" src="js/logout.js"></script>
    <script type="text/javascript" src="js/session.js"></script>
  </body>
</html>
